
.input-version{
	text-align: center;
	font-weight: bold;
}

#currentversion{
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

#contentProgramm{
	display: none;
}
#detailProgramm{
	display: none;
}
#buglist{
	display: none;
}
.rowadd{
	margin-top: 15px;
}